set_prop({ cameraserver mediaserver }, camera_prop);
allow { cameraserver mediaserver } audio_device:chr_file { ioctl open read write };
allow { cameraserver mediaserver } camera_data_file:dir create_dir_perms;
allow { cameraserver mediaserver } camera_data_file:file create_file_perms;
allow { cameraserver mediaserver } camera_prop:property_service set;
allow { cameraserver mediaserver } init:unix_stream_socket connectto;
allow { cameraserver mediaserver } sensorservice_service:service_manager find;
allow { cameraserver mediaserver } sysfs_als:file { getattr open write };
allow { cameraserver mediaserver } sysfs_batteryinfo:dir search;
allow { cameraserver mediaserver } sysfs_batteryinfo:file { getattr open read };
allow { cameraserver mediaserver } sysfs_batteryinfo:lnk_file read;
allow { cameraserver mediaserver } sysfs_bus_i2c:dir { open read search };
allow { cameraserver mediaserver } sysfs_bus_i2c:lnk_file read;
allow { cameraserver mediaserver } sysfs_camera_torch:dir search;
allow { cameraserver mediaserver } sysfs_camera_torch:file { open read write };
allow { cameraserver mediaserver } system_file:file execmod;
allow { cameraserver mediaserver } system_server:unix_stream_socket { read write };
allow cameraserver activity_service:service_manager find;
allow cameraserver sysfs:file { read getattr open };
